<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<h1>The result table</h1>

<table aline="center" style="width:50%">
	<tr>
		<th>KM</th>
		<th>Open Time</th>
		<th>Close Time</th>
	</tr>
	{% for item in items %}
  	<tr>
  		<td>{{ item.km }}</td>
  		<td>{{ item.open}}</td>
  		<td>{{ item.close}}</td>
  	</tr>
	{% endfor %}
