<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
  <title>EMPTY ERROR</title>
</head>
<body>
<h1>The database is empty</h1>
  <p>enter value into the database, click "submit"</p>
<p>Maybe try <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>
